.navbar {
  margin-top: clamp(0.7rem, 0.5rem + 1vw, 1rem);
}
.nav-logo {
  font-weight: 200;
  font-family: var(--font-logo);
  font-size: 0.875rem;
  line-height: 1rem;
  background: none;
  border: 1px solid #ffffff;
  width: 120px;
  height: 25px;
  padding: 0.3rem;
  text-transform: uppercase;
}
.grid-menu {
  grid-template-rows: 50px auto;
  position: fixed;
  right: -100%;
  top: 0;
  transition: 0.3s ease;
  width: 100vw;
  height: 100%;
  z-index: 1;
}
.grid-menu.active {
  right: 0;
}
.btn-close {
  background: none;
  border: none;
  text-align: right;
  margin-top: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
}
.btn-close span {
  font-size: 2.2rem;
}
.nav-menu {
  flex-direction: column;
  justify-content: center;
}
.nav-item {
  margin: 2.5rem 0;
}
.nav-link {
  font-size: 1.6rem;
  font-family: var(--profile-font);
  font-size: 1.125rem;
}
.btn-toggle {
  border: none;
  background: none;
  cursor: pointer;
  width: 32px;
}
.btn-toggle span {
  font-size: 2.2rem;
}

.info p {
  font-family: var(--profile-font);
  width: 250px;
  margin-top: clamp(1rem, 0.3rem + 2vw, 2.5rem);
  font-size: clamp(100%, 0.3rem + 2vw, 1.35rem);
}
.call-to-action {
  font-size: clamp(85%, 0.1rem + 2vw, 1.1rem);
  font-weight: bold;
  margin-top: 1.563rem;
  margin-bottom: 1rem;
  font-family: var(--profile-font);
}
.call-to-action span {
  margin-left: 0.3rem;
}
.image-container {
  padding-bottom: 4rem;
  position: relative;
}
.main-image {
  width: 100%;
}
.card-designer {
  position: absolute;
  width: 85%;
  height: 130px;
  right: 8px;
  bottom: -30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-designer-profile {
  margin-left: 1rem;
}
.card-designer-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card-designer-info {
  margin-left: 0.8rem;
  font-family: var(--profile-font);
}
.card-designer-info small {
  font-size: clamp(62%, 0.1rem + 2vw, 0.75rem);
  color: #828282;
}
.card-title {
  margin-left: 1rem;
  width: 55%;
  align-self: flex-start;
}

@media (min-width: 768px) {
  body {
    margin: 0 auto;
    padding: 0 4.3rem;
  }
  main {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .navbar {
    height: auto;
  }
  .btn-close,
  .btn-toggle {
    display: none;
  }
  .grid-menu {
    position: initial;
    right: 0;
    width: auto;
    height: auto;
  }
  .nav-menu {
    position: initial;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }
  .nav-item {
    margin-left: 3rem;
  }
  .nav-link:hover {
    font-weight: 600;
    text-decoration: underline;
  }
  .info {
    width: 415px;
  }
  .info p {
    width: 400px;
    line-height: 1.883rem;
  }
  .main-image {
    width: 90%;
  }
  .image-container {
    max-width: 800px;
    align-items: flex-end;
  }
  .card-designer {
    width: 75%;
    height: 180px;
    align-items: flex-start;
  }
  .card-designer-profile img {
    width: 48px;
    height: 48px;
  }
  .card-title {
    width: 60%;
  }
}

@media screen and (min-width: 1025px) {
  .card-designer {
    width: 55%;
    right: 60px;
  }
  .card-designer-profile img {
    width: 55px;
    height: 55px;
  }
}
